<header class="flex justify-between items-center py-4 shadow-md">
  <div class="flex items-center">
    <div class="logo ms-3">
      <img src="assets/logo.png" alt="logo" />
    </div>
    <div class="hidden ms-2 md:flex items-center">
      <p class="text-darker-color font-bold text-2xl">Nor-Shipping 2019</p>
      <div class="ms-2 flex flex-col">
        <img
          src="assets/common/blue-arrow-upwards.svg"
          class="p-0.5"
          alt="arrow-up"
        />
        <img
          class="p-0.5"
          src="assets/common/blue-arrow-downwards.svg"
          alt="arrow-down"
        />
      </div>
    </div>
  </div>
  <div class="flex items-center">
    <div class="flex items-center">
      <div class="m-2 ms-0.5 me-4 p-2 border-left-red hover:bg-gray-200">
        <p class="text-grey-color font-bold">DEALS</p>
        <p class="text-darker-color font-bold text-xl">10</p>
      </div>
      <div class="m-2 ms-0.5 me-4 p-2 border-left-purple hover:bg-gray-200">
        <p class="text-grey-color font-bold">TOTAL VALUE [NOK]</p>
        <p class="text-darker-color font-bold text-xl">4.19 mln</p>
      </div>
      <div class="m-2 ms-0.5 me-4 p-2 border-left-blue hover:bg-gray-200">
        <p class="text-grey-color font-bold">HIT RATE</p>
        <p class="text-darker-color font-bold text-xl">10%</p>
      </div>
      <div class="m-2 ms-0.5 me-4 p-2 border-left-green hover:bg-gray-200">
        <p class="text-grey-color font-bold">DEALS WON</p>
        <p class="text-darker-color font-bold text-xl">12/65</p>
      </div>
      <div class="m-2 ms-0.5 me-4 p-2 border-left-orange hover:bg-gray-200">
        <p class="text-grey-color font-bold">NEW CLIENTS</p>
        <p class="text-darker-color font-bold text-xl">8/12</p>
      </div>
    </div>
    <div class="flex items-center cursor-pointer relative user">
      <span class="material-icons user-icon"> account_circle </span>
      <span class="material-icons me-2"> expand_more </span>
      <div class="drop-down">
        <ul>
          <li>Setting</li>
          <li>My Team</li>
          <li class="text-red-color">Logout</li>
        </ul>
      </div>
    </div>
  </div>
</header>

<!-- Start Nav -->
<div class="mt-2 pt-2">
  <nav class="ms-16">
    <ul class="flex items-center">
      <li class="flex items-center">
        <img src="assets/exhib.png" alt="Exhibitors" />
        <span class="font-bold ps-1"> Exhibitors </span>
      </li>
      <li class="flex items-center active">
        <img src="assets/sales.png" alt="Sales" />
        <span class="font-bold text-darker-color ps-1"> Sales </span>
      </li>
      <li class="flex items-center">
        <img src="assets/program.png" alt="Program" />
        <span class="font-bold ps-1"> Program </span>
      </li>
      <li class="flex items-center">
        <img src="assets/delegates.png" alt="Delegates" />
        <span class="font-bold ps-1"> Delegates </span>
      </li>
      <li class="flex items-center">
        <img src="assets/settings.png" alt="Settings" />
        <span class="font-bold ps-1"> Settings </span>
      </li>
    </ul>
  </nav>
</div>
<!-- End Nav -->

<!-- Start Details -->
<!-- <div class="details mt-2 pt-2">
  <div class="ms-16">
    <span
      class="active font-bold text-darker-color p-2 ms-6 inline-block bg-white"
      >Deals</span
    >
    <span class="m-3">Activities</span>
    <span>Statistics</span>
  </div>
</div> -->
<div class="details pt-3 pb-3">
  <div class="details-container">
    <span class="active me-3">Deals</span>
    <span class="me-3">Activities</span>
    <span>Statistics</span>
  </div>
</div>
<!-- End Details -->
