<main class="px-24 py-14 overflow-auto">
  <div class="flex justify-between items-center pb-4">
    <p class="font-bold text-darker-color text-2xl">Deals</p>
    <div class="flex items-center">
      <app-filter [options]="segmentOptions" filterName="Segment"></app-filter>
      <app-filter filterName="Assignee"></app-filter>
      <app-filter filterName="Status"></app-filter>
      <input
        type="search"
        placeholder="Search by name or email"
        class="h-11 w-56 p-4 border-solid border border-gray-400 rounded-md focus:outline-double focus:outline-2 focus:outline-primary-color text-primary-color"
        (input)="search($event)"
      />
      <div class="ms-10">
        <button
          class="flex items-center text-white bg-primary-color h-11 rounded-md px-4"
        >
          <span class="material-icons inline-block me-4">
            add_circle_outline
          </span>
          ADD DEAL
        </button>
      </div>
    </div>
  </div>
  <div cdkDropListGroup class="flex gap-3">
    <div class="bg-hover-color">
      <div>
        <p class="font-bold text-darker-color">Potential Value</p>
        <div class="flex">
          <div class="flex items-center">
            <img src="assets/tasks.png" alt="" />
            <span class="inline-block m-2">{{
              potentialValueArray.length
            }}</span>
          </div>
          <div class="flex items-center">
            <img src="assets/value.png" alt="" />
            <span class="inline-block m-2">2.38 mln</span>
          </div>
          <div class="flex items-center">
            <img src=" assets/alarm.png" alt="" />
            <span class="inline-block m-2">2</span>
          </div>
        </div>
      </div>
      <div
        cdkDropList
        #potentialValueList="cdkDropList"
        [cdkDropListData]="potentialValueArray"
        [cdkDropListConnectedTo]="[
          focusList,
          contactMadeList,
          offerSentList,
          gettingReadyList
        ]"
        (cdkDropListDropped)="drop($event)"
        class="example-list"
      >
        <div
          class="cursor-grab my-2"
          cdkDrag
          *ngFor="let deal of potentialValueArray"
        >
          <app-card [deal]="deal"></app-card>
        </div>
      </div>
    </div>
    <div class="bg-hover-color">
      <div>
        <p class="font-bold text-darker-color">Focus</p>
        <div class="flex">
          <div class="flex items-center">
            <img src="assets/tasks.png" alt="" />
            <span class="inline-block m-2">{{ focusArray.length }}</span>
          </div>
          <div class="flex items-center">
            <img src="assets/value.png" alt="" />
            <span class="inline-block m-2">2.38 mln</span>
          </div>
          <div class="flex items-center">
            <img src=" assets/alarm.png" alt="" />
            <span class="inline-block m-2">2</span>
          </div>
        </div>
      </div>
      <div
        cdkDropList
        #focusList="cdkDropList"
        [cdkDropListData]="focusArray"
        [cdkDropListConnectedTo]="[
          potentialValueList,
          contactMadeList,
          offerSentList,
          gettingReadyList
        ]"
        (cdkDropListDropped)="drop($event)"
        class="example-list"
      >
        <div class="cursor-grab my-2" cdkDrag *ngFor="let deal of focusArray">
          <app-card [deal]="deal"></app-card>
        </div>
      </div>
    </div>
    <div class="bg-hover-color">
      <div>
        <p class="font-bold text-darker-color">Contact Made</p>
        <div class="flex">
          <div class="flex items-center">
            <img src="assets/tasks.png" alt="" />
            <span class="inline-block m-2">{{ contactMadeArray.length }}</span>
          </div>
          <div class="flex items-center">
            <img src="assets/value.png" alt="" />
            <span class="inline-block m-2">2.38 mln</span>
          </div>
          <div class="flex items-center">
            <img src=" assets/alarm.png" alt="" />
            <span class="inline-block m-2">2</span>
          </div>
        </div>
      </div>
      <div
        cdkDropList
        #contactMadeList="cdkDropList"
        [cdkDropListData]="contactMadeArray"
        [cdkDropListConnectedTo]="[
          potentialValueList,
          focusList,
          offerSentList,
          gettingReadyList
        ]"
        (cdkDropListDropped)="drop($event)"
        class="example-list"
      >
        <div
          class="cursor-grab my-2"
          cdkDrag
          *ngFor="let deal of contactMadeArray"
        >
          <app-card [deal]="deal"></app-card>
        </div>
      </div>
    </div>
    <div class="bg-hover-color">
      <div>
        <p class="font-bold text-darker-color">Offer Sent</p>
        <div class="flex">
          <div class="flex items-center">
            <img src="assets/tasks.png" alt="" />
            <span class="inline-block m-2">{{ offerSentArray.length }}</span>
          </div>
          <div class="flex items-center">
            <img src="assets/value.png" alt="" />
            <span class="inline-block m-2">2.38 mln</span>
          </div>
          <div class="flex items-center">
            <img src=" assets/alarm.png" alt="" />
            <span class="inline-block m-2">2</span>
          </div>
        </div>
      </div>
      <div
        cdkDropList
        #offerSentList="cdkDropList"
        [cdkDropListData]="offerSentArray"
        [cdkDropListConnectedTo]="[
          potentialValueList,
          focusList,
          contactMadeList,
          gettingReadyList
        ]"
        (cdkDropListDropped)="drop($event)"
        class="example-list"
      >
        <div
          class="cursor-grab my-2"
          cdkDrag
          *ngFor="let deal of offerSentArray"
        >
          <app-card [deal]="deal"></app-card>
        </div>
      </div>
    </div>
    <div class="bg-hover-color">
      <div>
        <p class="font-bold text-darker-color">Getting Ready</p>
        <div class="flex">
          <div class="flex items-center">
            <img src="assets/tasks.png" alt="" />
            <span class="inline-block m-2">{{ gettingReadyArray.length }}</span>
          </div>
          <div class="flex items-center">
            <img src="assets/value.png" alt="" />
            <span class="inline-block m-2">2.38 mln</span>
          </div>
          <div class="flex items-center">
            <img src=" assets/alarm.png" alt="" />
            <span class="inline-block m-2">2</span>
          </div>
        </div>
      </div>
      <div
        cdkDropList
        #gettingReadyList="cdkDropList"
        [cdkDropListData]="gettingReadyArray"
        [cdkDropListConnectedTo]="[
          potentialValueList,
          focusList,
          contactMadeList,
          offerSentList
        ]"
        (cdkDropListDropped)="drop($event)"
        class="example-list"
      >
        <div
          class="cursor-grab my-2"
          cdkDrag
          *ngFor="let deal of gettingReadyArray"
        >
          <app-card [deal]="deal"></app-card>
        </div>
      </div>
    </div>
  </div>
</main>
