<div class="relative">
  <div
    class="flex justify-between items-center cursor-pointer h-11 w-40 border-solid border text-gray-400 border-gray-400 rounded-md"
    (click)="showOptions = !showOptions"
  >
    <div>
      <span>{{ filterName }}: </span>
      <span>ALL</span>
    </div>
    <span class="material-icons text-black">
      {{ !showOptions ? "expand_more" : "expand_less" }}
    </span>
  </div>
  <div
    class="w-44 px-5 bg-white border border-solid border-gray-400 rounded-md z-50 absolute"
    *ngIf="showOptions"
  >
    <div *ngFor="let option of options">
      <ul>
        <li class="cursor-pointer hover:bg-hover-color my-4">
          <input type="checkbox" class="me-1" [id]="option.id" />
          <label [for]="option.id" class="ms-2">{{ option.label }}</label>
        </li>
      </ul>
    </div>
  </div>
</div>
